#pixel-board {
  position: relative;
  height: 240px;
  width: 240px;
  background-color: white;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  position: relative;
  display: inline-block;
}

.corDeFundoPreta {
  background-color: black;
}

.corDeFundo2 {
  background-color: blue;
}

.corDeFundo3 {
  background-color: red;
}

.corDeFundo4 {
  background-color: green;
}

.corDeFundoBranca {
  background-color: white;
}

.formato {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  position: relative;
  display: inline-block;
}

#clear-board {
  margin-right: 100%;
}
